body {
    font-family: 'Titillium Web', sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
}

header {
    height: 60px;
}

h1 {
    font-family: 'Black Ops One', cursive;
    font-weight: normal;
    color: var(--accent);
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

h2 {
    font-family: 'Black Ops One', cursive;
    font-weight: normal;
    color: var(--accent);
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}


h3 {
    font-family: 'Orbitron', cursive;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.7rem 0 3rem 0;
}

h4 {
    font-family: 'Orbitron', cursive;
    color: var(--primary);
    font-size: 1.5rem;
    text-align: center;
    margin: .5rem 0 2rem 0;

}

p {
    line-height: 2rem;
}

a {
    color: var(--accent-dark);
    text-decoration: none;
}

ul {
    margin: 0;
}

.section-icon {
    font-size: 2rem;
    text-align: center;
}

/************* NAVIGATION ****************/
.topnav {
    font-family: 'Orbitron', cursive;
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: var(--primary);

}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
    display: none;
    background-color: var(--accent-dark);
    height: 100vh;
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding-top: 2rem;

}

/* Style navigation menu links */
.topnav a {
    color: var(--secondary);
    font-size: 2rem;
    line-height: 5rem;
    text-decoration: none;
    padding: 14px 16px;

}

#hamburger-icon {
    display: block;
}

.active {
    text-decoration: underline;
}


#home-logo {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--accent);
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    line-height: 3.5rem;
}

#hamburger-menu {
    width: 15%;
    text-align: right;
}

/******************HOME*********************/

#home {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position-x: -8000px;
    height: 100vh;
}

#home .headphone-icon {
    padding-top: 0;
}

#landing-text-box {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: magic;
    animation-duration: 3s;

}

#landing-text {
    padding: 1rem 1rem;
    background-color: rgba(0, 13, 29, 0.66);
}

#home h2{
    font-family: 'Orbitron', cursive;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    color : var(--secondary);
    margin-bottom: 1rem;

}


#home h3{
    color: var(--accent);
    font-size: 0.7rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}



/********************PRESENTATION*************************/

#presentation {
    background-color: var(--accent-dark);
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
}

#presentation img {
    width: 100%;
    height: auto;
}

#presentation-text {
    padding: 3rem 1rem 0;

}

#presentation p {
    text-align: center;
    margin-bottom: 3rem;
}

#presentation a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

/***********************OUTILS************************/

#outils {
    padding: var(--section-padding);
}

#outils h2 {
    color: var(--accent);
}

#outils h4 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1rem;
}

#outils > p, #equipe > p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#outil p {
    padding: 1rem 1rem 3rem 1rem;
}

#outils p:last-of-type {
    padding-bottom: 3rem;
}

#meditation-icon {
    font-size: 3rem;
}

.outil-card {
    background-color: var(--third);
    margin: 1rem;
    padding: 2.5rem 1rem;
}

.outil-card p {
    text-align: justify;
}

.outil-icon {
    font-size: 2.5rem;
    color: var(--accent);
    text-align: center;
}


/**************** TEMOIGNAGE ******************/

#temoignage {
    padding: var(--section-padding);
    background-color: var(--accent);
    text-align: center;
}

#temoignage p:first-of-type {
    color: var(--primary);
    font-weight: bold;
    font-style: italic;
}

.joueur {
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
}

.jeu {
    font-family: 'Orbitron', cursive;
    color : var(--primary);
}

/******************* EQUIPE **********************/

#equipe {
    padding: var(--section-padding);
    background: rgba(71, 71, 71, 0.35);
}

#equipe h4 {
    color: var(--accent);
    font-size: 1.2rem;
}

#equipe p:last-of-type {
    padding-bottom: 3rem;
}

#communication p {
    text-align: justify;
}

#equipe img {
    width: 100%;
    height: auto;
}

#communication {
    padding: 3rem 1rem 0;
}

.dove-icon {
    color: var(--third);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

/********************** CONTACT ************************/

#contact {
    background-color: var(--accent-dark);
    padding: var(--section-padding);
    text-align: center;
    margin-bottom: 6rem;
}

#contact h2 {
    color: var(--primary);
    margin-bottom: 2rem;

}

#contact h5 {
    color: var(--primary);
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

}

.contact-p {
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
}

.contact-p a {
    color: var(--secondary);
}

.contact-icon {
    font-size: 5rem;
    color: var(--primary)
}

#contact-nb {
    font-style: italic;
}

#message-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 37.5rem;
    padding: 2rem 0 0 0;
    margin: auto;
}

#message-form h5 {
    margin-bottom: 1.2rem;
}

#message-form > div {
    margin-bottom: .5rem;
}

label {
    font-size: 1rem;
    color: var(--secondary);

}

input {
    border: none;
    border-bottom: solid 1px;
    border-color: var(--secondary);
    width: 80%;
    max-width: 30rem;
    height: 1rem;
    margin-bottom: 1rem;
    background-color: var(--accent-dark);

}

input:active {
    border: var(--primary);

}

textarea {
    height: 8rem;
    width: 80%;
    max-width: 30rem;
    margin-bottom: 2rem;
    border: solid 1px;
    color: var(--secondary);
    background-color: var(--accent-dark);
}

#button {
    background-color: var(--primary);
    font-family: 'Orbitron', cursive;
    color: var(--secondary);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    border-radius: 5px;
    border: none;
    width: 10rem;
    height: 3rem;
}

#button:hover {
    color: var(--accent-dark);
    cursor: pointer;

}

/************************** FOOTER***************************/

footer {
    color: var(--primary);
    text-align: center;
    padding-top: 4rem;

}

footer * {
    margin: 0;
    padding: .5 0;
    line-height: 1.2rem;
}

footer h3 {
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

footer h4 {
    color: var(--accent);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

}

footer h5 {
    color: var(--accent);
    font-size: 0.7rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

footer p a {
    font-weight: bold;
    color: var(--accent);
}

footer #social-icons {
    font-size: 1.5rem;
}

#footer-container {
    padding-bottom: 3rem;
}

#footer-subtitle {
    font-style: italic;
    font-weight: bold;
    padding-bottom: 1.2rem;
    color: var(--secondary);
}

.last-line {
    font-weight: normal;
    background-color: var(--primary);
    color: var(--accent);
    font-size: 0.7rem;
    margin: 0;
}

.last-line a {
    color: var(--accent);
    text-decoration: underline;
}

.last-line:last-child {
    padding-bottom: .5rem;
}

#telephone {
    padding-bottom: 4rem;
}


/******************VARIABLES COULEURS **********************/
:root {

    /*Colors*/
    --primary: #000D1D;
    --accent: #a22315;
    --accent-dark: #511819;
    --secondary: #E5E5E5;
    --third: #474747;

    /*Padding*/
    --section-padding: 5rem 0;
}

/*********************KEYFRAMES **********************/

@keyframes magic {
    from {

        opacity: 0;
    }
    to {

        opacity: 1;
    }
}


/*******************MEDIA QUERIES *********************/

@media (min-width: 1024px) {


    /*Menu*/
    .topnav {
        flex-wrap: nowrap;
    }

    #home-logo {
        width: 20%;
    }

    #hamburger-menu {
        display: none;
    }

    #myLinks {
        display: flex;
        justify-content: flex-end;
        background-color: var(--primary);
        height: 60px;
        width: auto;
        list-style: none;
        padding-top: 0;
        padding-right: 1rem;
    }

    #myLinks li {
        overflow: hidden;
    }

    #myLinks li a {
        font-size: 1rem;
        line-height: 3.5rem;
    }

    #myLinks li a:active {
        border-bottom: solid 2px;
        border-color: var(--accent);
    }

    #myLinks li a:hover {
        border-bottom: solid 2px;
        border-color: var(--accent);
        transition: .5s ease-in-out;
    }


    /*Présentation */
    #presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem 10vh;
    }

    #presentation-img {
        text-align: right;
    }

    #presentation-img img {
        height: 600px;
        width: auto;
        max-width: 600px;
    }

    #presentation-text {
        padding-bottom: 3rem;

    }

    #presentation p {
        margin-bottom: 1rem;
        text-align: justify;
    }

    /*Outils*/
    #outils-slider {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
    }

    .outil-card {
        width: 30%;
    }

    #outils > p {
        font-size: 1.2em;
        width: 80%;
        margin: auto;
    }

    /*Témoignage*/
    #temoignage-wrapper {
        width: 1000px;
        margin: auto;
        text-align: right;
    }

    #temoignage p:first-of-type {
        text-align: left;
        font-size: 1.2rem;
    }

    /*Equipe*/
    #equipe {
        padding-bottom: 3rem;
    }

    #equipe-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #equipe-img {
        width: 50%;
    }

    #communication {
        width: 50%;
    }

    #equipe > p {
        font-size: 1.2em;
        width: 80%;
        margin: auto;
    }

    /*Contact */
    #contact-container {
        display: flex;
    }

    #contact-text {
        width: 50%;
        text-align: left;
        margin-left: 2rem;
    }

    #contact-text p, #social-icons {
        text-align: left;
    }

    #message-form {
        width: 50%;
        padding: 0;
    }

    #button {
        font-size: 1rem;
        width: 8rem;
        height: 2.8rem;
    }

    /*Footer*/
    footer #social-icons {
        text-align: center;
    }

}

@media (min-width: 1255px) {
    #landing-text {
        background-color: transparent;
    }
}

@media (min-width: 1440px) {



    /*presentation*/
    #presentation-text {
        padding: 0 1rem;
    }

    /*Outils */
    #outils-slider {
        width: 150vh;
        margin-right: auto;
        margin-left: auto;
    }

    /*Contact*/
    #contact-text {
        padding-left: 6rem;
    }

    /*Footer*/
    footer #social-icons {
        text-align: left;
    }

    #footer-container {
        display: flex;
    }

    #footer-container > div {
        width: 50%;
    }

    #footer-container h5 {
        text-align: left;
    }

    #contact-footer {
        padding-left: 15rem;
    }

    #contact-footer p {
        text-align: left;
    }

}

@media (min-width: 1600px){
    /*home*/

    #home {
        background-position-x: 2300px;
    }
}